* {
  font-family: sans-serif; /* Change your font family */
    font-weight: bold;
    font-size: 19px;
    color: #fdf0f0;
}

table{
  width:30%;
  height:100%;
  box-sizing:border-box;
    margin: auto;
}
.td{
    font-weight: bold;
    font-family: sans-serif;
    color:white;
    font-size: 14px;
}
.note {
    position: absolute;
    width: 1500px;
    height: 880px;
    border: 0px solid lightgray;
    transition: 0.5s;
    display: inline-block;
    margin: 20px;
    left: -20px;
    top: 150px;
}

.top {
    background: linear-gradient(180deg, rgb(13, 4, 133) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.icon {
  background-color:transparent;
  border:5px;
  outline:none;
  padding-left:20px;
  padding-right:20px;
  transition:0.5s;
  cursor:hand;
  color: #f2fdff;
}
.icon:hover {
  background-color:rgba(240,240,240,0.6);
}
.butt {
  background-color:transparent;
  border:0px;
  width:100%;
  height:100%;
  transition:0.5s;
  outline:none;
}
.hand {
  cursor:hand;
  color: #e9f0f3;
}
.butt:hover {
  background-color:rgba(240,240,240,0.6);
}




#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#drag_me {
  -webkit-user-drag: element;
}




.homearrow {
  z-index: -1;
            background: #fff url('5bc6def3146c8.jpg') no-repeat center;
            overflow: hidden;
            top:0px;
            left: 0px;
          background-size: cover;
            position: center;
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -moz-animation: fadein 2s; /* Firefox */
            -ms-animation: fadein 2s; /* Internet Explorer */
            -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;

            height: 935px;
            width: 250vh;
            position: absolute;
        }

        .homearrowtext {position: absolute; }


        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Firefox */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Safari and Chrome */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }​

        /* Opera */
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
     }

     .try {

       -webkit-animation: fadein 2s; /* Safari and Chrome */
            -moz-animation: fadein 2s; /* Firefox */
            -ms-animation: fadein 2s; /* Internet Explorer */
            -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
          }
        .homearrowtext {position: absolute; }


        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Firefox */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Safari and Chrome */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }​

        /* Opera */
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
     }


